
.header__btn-primary{
    --background: var(--ion-color-dark);
    --background-hover: var(--ion-color-dark);
    --background-activated: var(--ion-color-dark);
    --background-focused: var(--ion-color-dark);
    --border-color: var(--icon-color-light);
    --color: var(--ion-color-light);
}

.content__btn-outline{
    --background: var(--ion-color-light);
    --background-hover: var(--ion-color-light);
    --background-activated: var(--ion-color-light);
    --background-focused: var(--ion-color-light);
    --border-color: var(--icon-color-dark);
    --color: var(--ion-color-dark);
}

ion-header{
    margin-bottom: 4rem;
    padding: 0 2rem; /*hacky*/
}

.content__search-toolbar{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

/* fix button on <Login/> to center */
ion-button[slot="fixed"] {
    top: 50%;
    right: 40%;
}

/*--------------------------Images--------------------- */
.content__hacky-container{
    width: 100%;
    /* margin: 0 auto; */
    /* background-color: aqua; */
}

.content__cards-container{
    width: 100%;
    max-width: 1000px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px;
}

.custom-card{
    margin-top: 40px;
    box-shadow: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.custom-card:hover{
    transform: scale(1.03);
}


/*-------------------------- Modal ------------------- */
.custom-modal-container{
    position: fixed;
    top: 0;
    height: 80vh;
    width: 80%;
    background-color: rgba(34, 33, 36, 0.408);
    z-index: 99999;
    left: 10%;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal{
    width: 75%;
    height: 75%;
    max-width: 700px; 
    
}
.custom-modal ion-card{
    width: 100%;
    height: 100%;
    overflow-y: scroll ;
    padding: 5px 25px;
}

.custom-modal ion-img{
    width: 90%;
    object-fit: cover;
    margin: 15px 0 0 6%;
}

.modal-text{
    margin-left: 35px;
}


/* ----------------------Footer------------- */

.footer__pagination{
    width: 150px;
    margin: 0 auto;
}